body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "poppins", sans-serif;
}

.container { 
  width: 600px;
  height: 650px;
  margin: 2rem auto;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  margin-top: 30px; // To create space for floating inputs
  margin-inline: auto;
}
h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--dark-color);
  font-size: 2rem;
}
.container form {
  width: 550px;
  position: absolute;
  top: 100px;
  left: 20px;
  font-family: inherit;
  transition: 0.5s ease-in;
  margin-top: 30px; // To create space for floating inputs
  margin-inline: auto;
  
}
}
form input:focus {
  outline: none;
  box-shadow: 3px 3px 1px gray;
}
.btn_box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background-color: var(--line-border-fill);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: inherit;
  border-radius: 5px;
  color: var(--light-gray-color);
}
form button:active {
  transform: scale(0.98);
}
#form2 {
  left: 6000px;
}
#form3 {
  left: 600px;
}
.progress_container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  position: relative;
}
.progress_container::before {
  content: "";
  background-color: var(--light-gray-color);
  position: absolute;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
}
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: 1;
  transition: 0.4s ease-in;
}
.circle {
  background-color: var(--light-gray-color);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(--line-border-empty);
  color: var(--white-color);
  background-color: gray;
}
.label {
  position: absolute;
  top: 8px;
  left: 0;
  color: #43454e;
  pointer-events: none;
  transform-origin: left center;
  transition: transform 250ms;
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
}
.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-100%) scale(0.75);
}
.input {
  font-size: 20px;
  width: 100%;
  padding: 8px 0;
  padding-right: 30px; // To avoid overlapping with the clear button
  color: #333;
  border: none;
}
.input-wrapper {
  position: relative;
  margin-inline: auto;
  max-width: 500px;
}
